!!!
%html{lang:"en"}
  %head
    %title HAML/Coffee/SASS D3
    %meta{charset:"utf-8"}
    %script{ type: "text/javascript", src: "../d3/d3.js"}
    %title Some kind of Haml Sass Coffee Shenanigans

  %body
    %script{src:"script.js"}